.todo-list,
.done-list {
  width: 40%;
  min-height: 60vh;
  padding: 1rem;
  background-color: bisque;
}

.done-list {
  overflow-y: scroll;
}

.actions i {
  font-size: 30px;
  cursor: pointer;
  transition: all;
  transition-duration: 0.2s;
}

.actions i:hover {
  filter: brightness(80%);
  scale: 1.05;
}
.lists {
  max-height: 80vh;
}
.all-todos {
  height: 100%;
  overflow-y: scroll;
}

.todo,
.done {
  background-color: rgb(239, 159, 61);
  margin-bottom: 0.5rem;
  text-align: center;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
}

.todo:hover {
  background-color: rgb(147, 96, 35);
}
.done:hover {
  background-color: rgb(147, 96, 35);
}
h3 {
  text-align: center;
}

.dragover {
  background-color: rgb(202, 151, 88);
}

.dragging {
  opacity: 1;
}
